body {
 font-family: Tahoma, Impact, Verdana, sans-serif;
 font-size:16px;
 line-height:21px;
/*
 background-image:url(/img/first_aid_kit.png);
 background-position:initial initial;
 background-repeat:initial initial;
*/
}

footer p {
    text-align: center;
} 

.navbar .nav > li {
line-height:21px;
}

.image {
text-align: center;
}

.btn-large {
  font-size:20px;
  padding:12px 12px;
}

.page {
  border:1px solid rgba(0, 0, 0, 0.148438);
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  background-color:white;
}


.container-fluid.header {
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-top:0px
  margin-bottom:10px;
  margin-top:0px;
  width:980px;
}

.navbar {
margin-bottom:0px;
}

.container-fluid {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  margin-bottom:20px;
  padding:20px;
}




@media (max-width:940px) {

h1 {
font-size:30px;
line-height:34px;
}

h2 {
  font-size:24px;
  line-height:34px;
}

h3 {
  font-size:18px;
  line-height:34px;
}


h1 small {
  font-size:18px;
}

.container-fluid { 
  width:100%;
  padding:0px;
  margin-bottom:10px;
  border:0px;
}
.container-fluid.header {
  width:100%;
}


.container-fluid.header {
  padding:0px;
}

.wrapper {
 padding:20px;
}

body {
margin-top:0px;
margin-left:10px;
margin-right:10px;
padding-left: 5px;
padding-right: 5px;
}
}