body {
 font-family: Tahoma, Impact, Verdana, sans-serif;
 font-size:16px;
}

.logo {
   padding-top: 10px;
   padding-bottom: 10px; 
   padding-left: 10px;
   float: left; 
   margin-left: -20px; 
   border:0px;
}

.navbar .btn-navbar {
	padding: 26px 20px;
}

.navbar .divider-vertical {
border-left: 0px solid #0073b0;
border-right: 0px solid #0073b0;
margin: 0;
}

.navbar .nav > li > a {
padding: 22px 20px 16px;
color: white;
text-shadow: 0 0px 0 black;
font-size: 20px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: white;
background-color: #0073b0;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
color: white;
background-color: #0095d2;
}

.navbar .nav > li {
line-height: 41px;
}

.navbar .divider-vertical {
height: 60px;
}

.navbar-inner {
background-image: none;
background-color: #0095d2;
border: 0px;
webkit-border-radius: 0px;
border-radius: 0px;
}


footer p {
    text-align: center;
} 

.image {
text-align: center;
}

.btn-large {
  font-size:20px;
  padding:12px 12px;
}

.page {
  border:1px solid rgba(0, 0, 0, 0.148438);
  border-bottom-right-radius:6px;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  background-color:white;
}

.container-fluid.header {
  padding-left:0px;
  padding-right:0px;
  padding-bottom:0px;
  padding-top:0px
  margin-bottom:0px;
  margin-top:0px;
  width:980px;
}

.container-fluid.page {
margin-bottom:20px;
}

.page {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-top:0px;
}

.navbar {
margin-bottom:0px;
}

.container-fluid {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  margin-bottom:0px;
  padding:20px;
}




@media (max-width:940px) {

h1 {
font-size:30px;
line-height:34px;
}

h2 {
  font-size:24px;
  line-height:34px;
}

h3 {
  font-size:18px;
  line-height:34px;
}


h1 small {
  font-size:18px;
}

.container-fluid { 
  width:100%;
  padding:0px;
  margin-bottom:0px;
  border:0px;
}
.container-fluid.header {
  width:100%;
}


.container-fluid.header {
  padding:0px;
}

.wrapper {
 padding:20px;
}

body {
margin-top:0px;
margin-left:10px;
margin-right:10px;
padding-left: 5px;
padding-right: 5px;
}

.navbar .nav > li > a {
padding: 0px 10px 0px;
}

}